body{
	margin:0;
	padding:0;
	background-image:url('images/rainbow-nebula.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	
}

.text-container h1{
	padding:0;
	font-family:arial;
	font-size:90px;
	color:rgba(255,255,255,.1);
	background-image:url(images/bg4.jpg);
	background-repeat: repeat-x;
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	animation:animate 70s linear infinite;
	
}
/*Animation of EVENTS heading*/
 @keyframes animate{
	 0%{
		 background-position:Left 20px top 10px;
	 }
	 40%{
		 background-position:Left 1000px top 10px;
	 }
	 
	 
 }
/*To make heading align to center*/
.text-container
{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}

/*Events*/
.events{
	text-align:center;
	color:black;
}

/*Polaroid for single event*/
div.polaroid {
  width: 31.4%;
  background-color: white;
  margin: 0.8%;
  display: inline-block;
}

/*heading of an event*/
div.heading{
  text-align: center;
  padding: 15px 20px;
  font-family: 'Emilys Candy', cursive;
}

img{
	width:34.6%;
	height: 250px;
	margin:0.7%; 
	opacity: 0.9;
	border: 7px solid black;
	box-shadow:0px 2px 40px black;
}

p{
	font-weight: bold;
	font-size: 2vw;
}

.desc {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  transition: .5s ease;
  background-color: #03abcb;
}

/*slide down effect on image*/
.desc:hover .overlay {
	bottom: 0;
	height: 100%;
	opacity: 1;
  }
  
  /*description which shows after hovering on event*/
  .text {
	width:100%;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

.text p{
	font-size:0.9rem;
}
/*register button for any event*/
.register{
	background-color:#00FFFF;
	margin-top:15px;
	border:1px solid blue;
	border-radius:5px;
}

  @media only screen and (max-width: 991px) {
	div.polaroid{
		width: 31%;
	}
  }
  
@media only screen and (max-width: 640px) {
	div.polaroid{
		width: 80%;
	}
  }
  