body{
	margin:0;
	padding:0;
	perspective:1px;
	transform-style:preserve-3d;
	background-image:url('images/rainbow-nebula.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	
}
h1{
	padding:0;
	font-family:arial;
	
}


.text-container h1{
	
	font-size:90px;
	color:rgba(255,255,255,.1);
	background-image:url(images/bg4.jpg);
	background-repeat: repeat-x;
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	animation:animate 70s linear infinite;
	
}
 @keyframes animate{
	 0%{
		 background-position:Left 20px top 10px;
	 }
	 40%{
		 background-position:Left 1000px top 10px;
	 }
	 
	 
 }

.text-container
{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
div.polaroid {
  width: 31.6%;
  background-color: white;
  margin: 0.7%;
  display: inline-block;
}

div.container {
  text-align: center;
  padding: 15px 20px;
  
}


img{
	width:34.6%;
	height: 250px;
	margin:0.7%; 
	opacity: 0.9;
	border: 7px solid black;
	box-shadow:0px 2px 40px black;
	
}

.image{
	position:relative;
	text-align:center;
	color:black;
}

p{
	font-weight: bold;
	font-size: 2vw;
}



.desc {
  position: relative;
  width: 100%;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #03abcb;
}

.desc:hover .overlay {
  opacity: 0.9;
}

.text {
	width:100%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text p{
	font-size:0.9rem;
}
.register{
	background-color:#00FFFF;
	margin-top:30px;
	border:1px solid blue;
	border-radius:5px;
}